
p {
  line-height: 1.5em;
  font-size: 20pt;
  font-family: "Merriweather", serif;
  margin-left: 3%;
  margin-top: 3%;
  width: 85%;
  margin-right: 3%;
  border: 7px none white;
  border-radius: 6px;
  padding: 20px;
  transition: 0.33s;
  justify-content: flex-end;
  align-content: flex-end;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.36);
  font-weight: bold;
  box-shadow: 0 6px rgba(10, 48, 95, 0.25);
}
